/* Setting google fonts and default margin paddings */
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700&display=swap");
a {
  text-decoration: none;
}
.color_primary {
  color: #727272;
  font-size: small;
}

.btn_primary {
  background-color: #ff900e;
  color: white;
  padding: 15px 40px;
  border: 0;
  border-radius: 7px;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 600;
}

/* header styles */
header {
  padding-top: 2rem;
  background: rgba(255, 144, 14, 0.1);
}
nav {
  /* padding-top: 20px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
nav h1 {
  font-weight: 800;
}
nav > ul {
  display: flex;
  gap: 30px;
}
nav > ul li {
  list-style: none;
  font-size: medium;
  color: #727272;
}
.header_desc {
  width: 70vw;
  margin: 2rem auto;
  text-align: center;
}
.header_desc p {
  font-size: small;
  color: #727272;
  padding: 0 150px;
}
.header_desc h1 {
  padding: 10px 200px;
  font-weight: 800;
}

.banner {
  width: 78vw;
  margin: 0 auto;
  padding-bottom: 2rem;
}
.banner img {
  width: 100%;
}

/* team_section styles */
.team_section {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 50px 0;
}

.team_gallery {
  /* height: 80vh; */
  width: 45vw;
  display: grid;
  grid-gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.team_gallery img {
  width: 100%;
}
.team_info {
  height: 30vh;
  width: 30vw;
}
.team_info h1 {
  font-weight: 800;
  padding-right: 100px;
}
.team_info p {
  font-size: small;
  line-height: 20px;
  color: #727272;
}
.sp_1 {
  color: #727272;
  font-weight: 500;
}
.sp_2 {
  color: #131313;
  font-weight: 700;
}
.sp_3 {
  color: #ff900e;
  font-weight: 700;
}

/* features section styles */
.features_container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
.featues_box {
  width: 35vw;
}
.featues_box h1 {
  font-weight: 800;
  font-size: 2rem;
}
.featues_box img {
  width: 95%;
}

.feature_info_box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 1rem;
}
.feature_info_box > div {
  border-radius: 8px;
  background: #fff;
  box-shadow: 1px 1px 4px black;
  padding: 20px 30px;
}
.exp_box {
  border-radius: 6px;
  width: fit-content;
  padding: 20px 40px;
  color: white;
  background-color: #ff900e;
  text-align: center;
  font-weight: 800;
  position: relative;
  right: 50px;
  bottom: 50px;
}
/* features section completed */

/* some_facts section */
.some_facts {
  margin-top: 2rem;
  /* width: fit-content; */
  margin-left: 8.7rem;
}
.some_facts p {
  margin-top: 1rem;
}

.fact_box_parent{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.fact_box_parent .box{
    height: 25vh;
    width: 15vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    box-shadow: 1px 1px 4px black;
}

/* Responsive Design */
/* Small devices */
@media screen and (max-width: 576px) {
  .header_desc h1 {
    padding: 0;
  }
  .header_desc p {
    padding: 0 10px;
  }
  .header_desc,.fact_box_parent .box {
    width: 80vw;
  }
  nav,
  .team_section {
    flex-direction: column;
    gap: 2rem;
  }
  .fact_box_parent{
    flex-direction: column;
  }
  .team_gallery {
    grid-template-columns: 1fr;
    width: 90vw;
  }
  .team_info {
    width: 90vw;
  }
  .features_container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .featues_box {
    width: 80vw;
  }
  .exp_box {
    position: static;
    margin: 10px auto;
  }
  .some_facts{
    margin-left: 3.5rem;
  }
}
/* medium devices */
@media screen and (min-width: 577px) and (max-width: 960px) {
  .header_desc h1 {
    padding: 0;
  }
  .header_desc p {
    padding: 0 10px;
  }
  .header_desc {
    width: 80vw;
  }
  nav,
  .team_section {
    flex-direction: column;
    gap: 2rem;
  }
  .team_gallery {
    grid-template-columns: repeat(2, 1fr);
    width: 90vw;
  }
  .team_info {
    width: 90vw;
  }
  .features_container {
    flex-direction: column-reverse;
    align-items: center;
  }
  .featues_box {
    width: 80vw;
  }
  .exp_box {
    position: static;
    margin: 10px auto;
  }
  .some_facts{
    margin-left: 3.8rem;
  }
  .fact_box_parent .box{
    width: 20vw;
  }
}
